#navbar{
    width:100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 15%;
    /* border:1px solid red; */
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top:0;
    height:50px;
    position: fixed;
    z-index: 100;
    background-color: #d24115;
    color:#fff
  }
  #navbar div:nth-child(1){

    /* border:1px solid red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #navbar img{
    border-radius: 50%;
  }
  .drowpdowns{
    /* border:1px solid rgb(22, 9, 64); */
  
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  #navbar button{
    /* align-self: center; */
    background: #022b50;
    border: 1px solid #022b50;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    padding: 10px 10px;
    white-space: nowrap;
    width:70%
  }
  
  .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
  }
  .space{
    gap:2%;
    border:1px solid 
  }
  
  .small{
    display: none;
  }
  #navbar img{
    padding: 1%;
  }
  .menu{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    min-width: 160px;
    padding:  2% 0% 3% 1%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    top:80%;
    right:2%
  }
  #navbar li {
  
    list-style: none;
  }
  
  .dropdown-box{
    background-color: rgb(251, 251, 251);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    z-index: 1;
    min-height:max-content ;
    min-width:12%;
    border-radius: 10px;
    color:black;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items:center;
   padding: 0.5%;
  
  }
  .list{
    text-align: left;
    padding: 3%;
    margin-top:2%;
    width: 90%;
    border-radius: 5px;
  }
  .list:hover{
    background-color:  #fdcbbc;

  }
  .drowpdown-menu{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    position: absolute;
    min-width: 160px;
    padding:  2% 0% 3% 1%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    top:80%;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .cursor{
    cursor: pointer;
  }
  @media screen  and (max-width: 1000px){
   #navbar{
    grid-template-columns: 20% 15%;
    gap:50%;
  
  
   }
   .small{
    display: block;
  }
    .drowpdowns{
      display:none
    }
    #navbar button{
      display: none;
    }
  
  }
  
  
.bluebar{
    margin-top: 3%;
    background-color: #1E293B;
    width: 100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2%;
    color:#fff
}

.bluebar button{
    background-color: transparent;
    border-radius: 10px;
    color:#fff;
    padding:  5px 10px;
    outline:none;
    border:1px solid #fff;
}
.circle{
  border-radius: 50%;
  border:1px solid #fff;
  width:10px;
  height:10px ; 
  background-color: #d24115;
}
#searchbar{
  
    width:100%;
    height: 48px;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 60% 10%;
    gap:30%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

#searchbar>div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:5%

}

#searchbar span {
    /* border: 1px solid blue; */
    width:60%;
    display: flex;
    align-items: center;
    border:1px solid rgb(207, 205, 205)
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}


#searchbar input{
  border:none;
  outline: none;
  width:90%;
  height: 40px;
  border-left:1px solid rgb(207, 205, 205);
  caret-color:rgb(190, 48, 5);
  padding-left: 2%;
   font-size: 18px;

  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}
#searchbar input::placeholder{
 color: rgb(179, 174, 174);
  
}
#searchbar button{
    border: none;  
    outline: none;
    background-color: #d24115;  
    color: #fff; 
    padding: 5px 15px;
   border-radius: 5px;

}
.search-icon{
    /* border: 1px solid red; */
    background-color: #f39477;
    padding: 2%
}

#searchbar select{
    border: 1px solid red;
 
    padding: 1%;
    border:none;
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

#seriesdetails{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 45% 55%;
  /* border: 1px solid red; */
}#seriesdetails >div:nth-child(1) {
  /* border: 1px solid red; */
text-align:start;
}
#seriesdetails >div:nth-child(2){
  /* display: flex; */
  /* border: 1px solid red; */
  text-align:start;

  /* flex-direction: column; */
}
#seriesdetails >div:nth-child(2) p{
  text-align: justify;
  font-size: 16px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:gray
}

#seriesdetails >div:nth-child(3){
  /* display: flex; */
  /* border: 1px solid red; */
  text-align:start;

  /* flex-direction: column; */
}
#seriesdetails img{
  border-radius: 10px;
}
.social-icons{
    display: flex;
    justify-content: flex-start;
    gap:1%
}
#course-block,#related-block{
  /* border:1px solid red; */
  text-align: start;
  width: 95%;
  margin: auto;
}
.series-card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2%;
    width:100%;
    margin: auto;
}
.series-card-container>div{
  padding: 3%;
  border-bottom:1px solid gray;
  color: #022b50;
}
.card p{
  font-size: 16px;
  margin:4px 0px
}
.card button{
  color:#d24115;
  border:none;
  background-color: white;
}
.card button :hover{
  background-color: #f3f5f6;

}
.card >p:nth-child(6){
  background-color: #d8e8f6;
  width:max-content;
  padding:1% 2%;
  border-radius: 5px;
  font-size: 12px;
}
.card >p:nth-child(1){
  background-color: #9e9fa0;
  width:10%;
  padding:2%;
  border-radius: 5px;  
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.series-card-container>div:hover{
  background-color: #f3f5f6;
  border-radius: 10px;

}

.related-card-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width:100%;
  margin: auto;
  /* border: 1px solid red; */
   gap:2%;


}
.related-card{
  display: grid;
  grid-template-columns: 30% 60%;
  /* border: 1px solid rgb(4, 13, 114); */
  padding: 2%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  gap:3%
}
.related-card >div:nth-child(2){
  /* border: 1px solid rgb(4, 13, 114); */

}
.related-card p{
margin:5px 0px;
color:gray
}

.related-card h3{
  margin:0px

}
.related-card img{
  border-radius: 10px;
}
.related-card:hover{
  background-color: #f3f5f6;

}